.btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	transition: transform 0.3s ease;

	&_prev {
		left: -40px;
		&:active {
			transform: translateY(-50%) scale(0.8);
		}
	}
	&_next {
		right: -40px;
		&:active {
			transform: translateY(-50%) scale(0.8);
		}
	}
}
