@use '../../../styles/variables' as *;
@use '../../../styles/media' as *;
@use '../../../styles/mixins' as *;

.map {
	position: relative;
	width: 100%;
	height: 476px;
	margin-bottom: 130px;
	background-color: $gray;
	z-index: 5;

	@include laptop {
		margin-bottom: 65px;
	}

	@include mobile {
		margin-bottom: 30px;
	}
}

.skeleton {
	width: 100%;
	height: 100%;
}
