@use '../../../styles/variables' as *;
@use '../../../styles/media' as *;
@use '../../../styles/mixins' as *;

.header {
	padding: 50px 0 20px;
}

.container {
	display: flex;
	align-items: center;
}

.actions {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.phone {
	margin-right: 67px;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.02em;
	transition: color 0.5s ease;

	@include disable-mob-hover {
		color: $cta;
	}
}

.cart {
	position: relative;
	flex-shrink: 0;
	transition: color 0.5s ease;

	@include disable-mob-hover {
		color: $cta;
	}
}

.count {
	position: absolute;
	top: -10px;
	right: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	background-color: #998e78;
	color: #fff;
	border-radius: 50px;
	font-weight: 400;
	font-size: 9px;
	line-height: 100%;
	letter-spacing: 0.02em;
}

.burger {
	position: relative;
	display: none;
	width: 25px;
	height: 25px;
	cursor: pointer;

	.line {
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: $black;
		top: 50%;
		transition: transform 0.5s ease, opacity 0.5s ease;
		transform-origin: center;
	}

	&_close {
		.line_top {
			transform: translateY(calc(-50% - 8px)) rotate(0);
		}
		.line_middle {
			transform: translateY(-50%) scaleX(1);
			opacity: 1;
		}
		.line_bottom {
			transform: translateY(calc(-50% + 8px)) rotate(0);
		}
	}

	&_open {
		.line_top {
			transform: translateY(-50%) rotate(45deg);
		}
		.line_middle {
			transform: translateY(-50%) scaleX(0);
			opacity: 0;
		}
		.line_bottom {
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

@include laptop-lg {
	.header {
		padding-top: 40px;
	}
	.phone {
		margin-right: 45px;
	}
}

@include laptop {
	.header {
		padding: 20px 0;
	}
	.actions {
		gap: 20px;
	}
	.call {
		width: 35px;
		height: 35px;
		margin: 0;

		svg {
			width: inherit;
			height: inherit;
		}
	}
	.phone {
		display: none;
	}
}

@include tablet {
	.navigation {
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(100%);
		width: 50%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 45px;
		margin: auto;
		padding: 40px;
		background-color: rgba($cta, 0.95);
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transition: transform 0.5s ease;
		z-index: 8;

		&_open {
			transform: translateX(0);
		}
	}

	.actions {
		gap: 30px;
	}

	.burger {
		position: relative;
		display: flex;
		z-index: 9;
	}
}

@include mobile-lg {
	.navigation {
		width: 70%;
	}
}

@include mobile {
	.navigation {
		width: 100%;
	}
	.actions {
		gap: 20px;
	}
}
