@use '../../../../styles/variables' as *;
@use '../../../../styles/media' as *;
@use '../../../../styles/mixins' as *;

.form {
	display: flex;
	align-items: center;
	gap: 74px;
	margin-bottom: 130px;
}

.image {
	width: 49%;
	max-width: 536px;
	aspect-ratio: 3/4;
	object-fit: cover;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.price {
	font-weight: 500;
	font-size: 40px;
	line-height: 110%;
	letter-spacing: 0.02em;
	color: $price;
}

.sale {
	margin-left: 30px;
	color: $price-gray;
	text-decoration: line-through;
}

.wrap {
}

.subtitle {
	margin-bottom: 35px;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.list {
	display: flex;
	align-items: center;
	gap: 14px;
}

.actions {
	display: flex;
	align-items: center;
	gap: 10px;
}

@include laptop {
	.form {
		gap: 30px;
		margin-bottom: 65px;
	}
}

@include tablet {
	.form {
		flex-direction: column;
		margin-bottom: 65px;
	}
	.image {
		width: 100%;
	}
	.content {
		gap: 30px;
	}
}

@include mobile-lg {
	.price {
		font-size: 22px;
	}
	.subtitle {
		margin-bottom: 20px;
	}
}

@include mobile {
	.form {
		margin-bottom: 30px;
	}
}
