@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/media' as *;

.link {
	display: block;
	max-width: 350px;
}

.image {
	aspect-ratio: 3/4;
	margin-bottom: 24px;
	object-fit: cover;
}

.name {
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-align: center;
}

.price {
	color: $price;
	font-weight: 500;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-align: center;
}

.sale {
	margin-right: 10px;
	text-decoration: line-through;
	color: $price-gray;
}

@include tablet {
	.image {
		margin-bottom: 15px;
	}
	.title {
		margin-bottom: 5px;
		font-size: 18px;
	}
	.price {
		font-size: 15px;
	}
	.sale {
		margin-right: 5px;
	}
}

@include mobile {
}
