@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/media' as *;

.wrap {
	padding: 130px 0;

	@include tablet {
		padding: 65px 0;
	}
	@include mobile {
		padding: 30px 0;
	}
}
