.list {
	display: flex;
	flex-direction: column;
	gap: 130px;
	margin-bottom: 130px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	&:nth-child(2n) {
		flex-direction: row-reverse;
	}
}

.image {
	object-fit: cover;
}

.content {
	max-width: 542px;
}

.subtitle {
	margin-bottom: 46px;
	font-weight: 500;
	font-size: 25px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.desc {
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.link {
	margin: 0 auto;
}
