@use '../../../styles/variables' as *;
@use '../../../styles/media' as *;
@use '../../../styles/mixins' as *;

.hero {
	position: relative;
	padding: 20px 0 125px;
}

.imagesWrap {
	position: absolute;
	top: 20px;
	left: 50%;
	bottom: 0;
}

.images {
	position: relative;
	width: 600px;
}

.largeImg {
	position: absolute;
	top: 0;
	left: 20%;
	object-fit: contain;
}

.leftImg {
	position: absolute;
	top: 390px;
	left: 0;
	object-fit: contain;
}

.rightImg {
	position: absolute;
	top: 123px;
	right: 0;
	object-fit: contain;
}

@include laptop-lg {
	.imagesWrap {
		top: 20px;
		left: 50%;
	}
	.images {
		max-width: 400px;
	}
	.largeImg {
		width: 300px;
		height: 500px;
		left: 40%;
	}
	.leftImg {
		width: 150px;
		height: 250px;
		top: 295px;
		left: 50px;
	}
	.rightImg {
		width: 130px;
		height: 130px;
		top: 30px;
		right: -100px;
	}
}

@include laptop {
	.hero {
		padding-bottom: 80px;
	}
	.imagesWrap {
		top: 20px;
		left: 50%;
	}
	.images {
		max-width: 300px;
	}
	.largeImg {
		width: 250px;
		height: 400px;
		left: 30%;
	}
	.leftImg {
		width: 100px;
		height: 200px;
		top: 265px;
		left: 30px;
	}
	.rightImg {
		width: 100px;
		height: 100px;
		top: -30px;
		right: -80px;
	}
}

@include tablet {
	.hero {
		padding-bottom: 60px;
	}
	.imagesWrap {
		top: 0;
		left: 50%;
	}
	.largeImg {
		width: 250px;
		height: 400px;
		top: 0;
		left: 8%;
	}
	.leftImg {
		display: none;
	}
	.rightImg {
		display: none;
	}
}

@include mobile-lg {
	.hero {
		padding: 0 0 20px;
	}
	.imagesWrap {
		position: relative;
		inset: 0;
		width: 100%;
		height: 650px;
	}
	.images {
		width: 100%;
		max-width: 580px;
		height: 100%;

		&::after {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 100%;
			max-width: 410px;
			height: 100%;
			background-color: rgba($color: $black, $alpha: 0.3);
		}
	}
	.largeImg {
		position: relative;
		inset: 0;
		width: 100%;
		height: 100%;
		max-width: inherit;
		object-fit: contain;
	}
	.leftImg {
		display: none;
	}
	.rightImg {
		display: none;
	}
}

@include mobile {
	.images {
		&::after {
			max-width: 100%;
		}
	}
	.largeImg {
		object-fit: cover;
	}
}
