@use './variables' as *;
@use './media' as *;

html {
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: $white;
	color: $black;
	font-family: $font-family;
}

#root {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 320px;
	min-height: 100vh;
}

main {
	flex-shrink: 0;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	max-height: 100%;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}

input,
textarea {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
	margin: 0;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;

	@include laptop-lg {
		width: 100%;
	}
}
