// fonts
$font-family: 'Raleway', 'open-sans', sans-serif;

// colors
$black: #000;
$white: #fff;
$beige: #f1eadc;
$gray: #808080;
$price: #998e78;
$price-gray: #d1d1d1;
$cta: #6e9c9f;
$dark-cta: #509498;
$error: #f00;
