@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/media' as *;

.important {
	padding: 65px 0;
}

.title {
	@include main-page-title;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	gap: 10px;
}

@include laptop {
	.important {
		padding: 50px 0;
	}
}

@include tablet {
	.important {
		padding: 30px 0;
	}
}

@include mobile-lg {
	.important {
		padding: 20px 0;
	}
	.list {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}
