@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;
@use '../../../../styles/media' as *;

.slider {
	position: relative;
	width: 100%;
	max-width: 729px;
	height: 487px;
}

.slide {
	position: absolute;
	inset: 0;
	width: 0;
	height: 100%;
	opacity: 0.5;
	transition: opacity 0.5s ease;

	&_active {
		width: 100%;
		opacity: 1;
	}
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sliderBar {
	position: absolute;
	bottom: 61px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

@include laptop-lg {
	.slider {
		height: 420px;
	}
	.sliderNavigation {
		display: none;
	}
}

@include tablet {
	.sliderBar {
		bottom: 30px;
	}
}
