@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/media' as *;

.team {
	padding: 65px 0 130px;
}

.title {
	@include main-page-title;
}

.wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 255px;
}

.subtitle {
	font-weight: 500;
	font-size: 25px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.desc {
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.link {
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	letter-spacing: 0.02em;
	color: $cta;
}

@include laptop {
	.team {
		padding: 50px 0;
	}
	.wrap {
		align-items: start;
	}
}

@include tablet {
	.team {
		padding: 30px 0;
	}
	.wrap {
		flex-direction: column;
		gap: 10px;
	}
	.content {
		gap: 15px;
		max-width: 400px;
	}
	.subtitle {
		font-size: 18px;
	}
	.desc {
		font-size: 15px;
	}
	.link {
		font-size: 15px;
	}
}

@include mobile-lg {
	.team {
		padding: 20px 0;
	}
}
