@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/media' as *;

.collections {
	padding: 65px 0;
}

.title {
	@include main-page-title;
}

.list {
	display: flex;
	gap: 30px;
	margin-bottom: 65px;
}

.link {
	width: 260px;
	margin: 0 auto;
}

@include laptop {
	.collections {
		padding: 50px 0;
	}
}

@include tablet {
	.collections {
		padding: 30px 0;
	}
	.list {
		gap: 10px;
		margin-bottom: 30px;
	}
}

@include mobile-lg {
	.list {
		flex-direction: column;
		align-items: center;
	}
	.collections {
		padding: 20px 0;
	}
	.list {
		gap: 20px;
		margin-bottom: 20px;
	}
	.link {
		width: 100%;
	}
}
