@use '../../../styles/media' as *;
@use '../../../styles/mixins' as *;

.wrap {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
}

.title {
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 55px;
	line-height: 110%;
	letter-spacing: 0.02em;

	@include laptop {
		font-size: 40px;
	}
	@include tablet {
		margin-bottom: 20px;
		font-size: 30px;
	}
	@include mobile {
		margin-bottom: 15px;
		font-size: 22px;
	}
}

.desc {
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.02em;

	@include tablet {
		font-size: 18px;
	}
	@include mobile {
		font-size: 16px;
	}
}
