@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/media' as *;

.logo {
	display: flex;
	align-items: center;
	gap: 11px;
	margin-right: 145px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@include laptop-lg {
	.logo {
		margin-right: 120px;
	}
}

@include laptop {
	.logo {
		margin-right: 100px;
	}
}

@include tablet {
	.logo {
		margin-right: 0;
	}
}
