@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.list {
	display: flex;
	align-items: center;
	gap: 45px;
}

.item {
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.02em;
	transition-property: font-weight, color;
	transition-timing-function: ease;
	transition-duration: 0.5s;

	&_active {
		color: $cta;
		font-weight: 700;
	}

	@include disable-mob-hover {
		color: $cta;
		font-weight: 700;
	}
}
