@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/media' as *;

.header {
	padding: 50px 0 20px;
}

.container {
	display: flex;
	align-items: center;
}

.actions {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.call {
	flex-shrink: 0;
	width: 27px;
	height: 27px;
	margin-right: 9px;
	background-color: transparent;
	color: $cta;
}

.phone {
	margin-right: 67px;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.cart {
	position: relative;
	flex-shrink: 0;
}

.count {
	position: absolute;
	top: -10px;
	right: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	background-color: #998e78;
	color: #fff;
	border-radius: 50px;
	font-weight: 400;
	font-size: 9px;
	line-height: 100%;
	letter-spacing: 0.02em;
}

.burger {
	display: none;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	width: 25px;
	height: 25px;
}

.line {
	width: 100%;
	height: 3px;
	background-color: $black;
}

@include laptop-lg {
	.header {
		padding-top: 40px;
	}
	.phone {
		margin-right: 45px;
	}
}

@include laptop {
	.header {
		padding: 20px 0;
	}
	.actions {
		gap: 10px;
	}
	.call {
		width: 35px;
		height: 35px;
		margin: 0;

		svg {
			width: inherit;
			height: inherit;
		}
	}
	.phone {
		display: none;
	}
}

@include tablet {
	.navigation {
		display: none;
	}
	.burger {
		display: flex;
	}
}
