@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/media' as *;

.footer {
	padding: 100px 0;
	background-color: $beige;
}

.container {
	display: grid;
	grid-template-columns: 240px 1fr 160px;
	row-gap: 10px;
}

.logo {
	align-self: self-start;
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: end;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.phone,
.mail,
.category,
.social {
	transition: color 0.5s ease;

	@include disable-mob-hover {
		color: $cta;
	}
}

.copyright {
	grid-row: 2 / 4;
	align-self: flex-end;
	font-weight: 400;
	font-size: 13px;
	line-height: 2;
	letter-spacing: 0.02em;
}

.categories {
	grid-row: 2 / 4;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: max-content;
	margin-left: 100px;
	font-weight: 400;
	font-size: 13px;
	line-height: 140%;
	letter-spacing: 0.02em;
}

.socials {
	justify-self: end;
	align-self: center;
	display: flex;
	gap: 12px;
}

.social {
	display: block;
	width: 21px;
	height: 21px;
}

.payment {
	grid-column: 3 / 4;
	justify-self: end;
}

@include laptop {
	.footer {
		padding: 50px 0;
	}
	.container {
		display: grid;
		grid-template-areas:
			'logo navigation categories contacts'
			'copyright navigation categories  contacts'
			'copyright navigation categories  socials'
			'copyright navigation categories  payment';
		row-gap: 10px;
	}
	.logo {
		grid-area: logo;
		align-self: self-start;
		margin-right: 0;
	}
	.navigation {
		max-width: max-content;
		grid-area: navigation;
		flex-direction: column;
		gap: 10px;
	}
	.contacts {
		grid-area: contacts;
	}
	.copyright {
		grid-area: copyright;
		align-self: center;
	}
	.categories {
		grid-area: categories;
		margin-left: 0;
		font-size: 15px;
	}
	.socials {
		grid-area: socials;
	}
	.payment {
		grid-area: payment;
	}
}

@include tablet {
	.footer {
		padding: 30px 0;
	}
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'logo logo'
			'navigation categories'
			'contacts socials'
			'copyright payment';
		row-gap: 20px;
	}
	.navigation,
	.contacts {
		align-items: start;
	}
	.socials,
	.payment {
		justify-self: start;
	}
}

@include mobile {
	.container {
		grid-template-areas:
			'logo logo'
			'navigation categories'
			'contacts contacts'
			'socials socials'
			'payment payment'
			'copyright copyright';
	}
}
