@use '../../../styles/variables' as *;
@use '../../../styles/media' as *;

.desc {
	margin-bottom: 65px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	letter-spacing: 0.02em;
	color: $gray;

	@include tablet {
		margin-bottom: 45px;
	}

	@include mobile {
		margin-bottom: 30px;
	}
}
