@use '../../../../styles/variables' as *;

.wrap {
	position: relative;
	width: 100%;
	height: 100px;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: $gray;
	}
}
