@use '../../../styles/variables' as *;

.wrap {
	position: relative;
	width: 100%;
	height: 30dvh;
}

.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	border: 10px solid $cta;
	border-bottom: 10px solid transparent;
	border-radius: 50%;
	animation: spin 3s linear infinite;
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
