@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 14px;
}

.arrow {
	color: $black;
	transition: color 0.5s ease;

	&_left {
		transform: rotate(180deg);
	}

	@include disable-mob-hover {
		color: $gray;
	}
}
