@use '../../../../styles/variables' as *;
@use '../../../../styles/media' as *;
@use '../../../../styles/mixins' as *;


.body {
	position: relative;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: $gray;
	}
}

.td {
	padding: 50px 10px;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	letter-spacing: 0.02em;
	&_first {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}

.remove {
	color: $gray;
	transition: color 0.5s ease;

	@include disable-mob-hover {
		color: $black;
	}
}

.image {
	width: 125px;
	height: 180px;
	object-fit: cover;
}

.desc {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.size {
	margin-left: 5px;
	font-weight: 700;
	text-transform: uppercase;
}

.color {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 50%;
	border: 1px solid $black;
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
}
