@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/media' as *;

.wrap {
	padding: 130px 0;

	@include laptop {
	}
	@include tablet {
	}
	@include mobile {
	}
}
